@font-face {
    font-family: 'IBMPlexSans';
    src: url('../fonts/IBMPlexSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/ProximaNova-Regular.eot');
    src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ProximaNova-Regular.woff') format('woff'),
    url('../fonts/ProximaNova-Regular.ttf') format('truetype'),
    url('../fonts/ProximaNova-Regular.svg#ProximaNova') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/ProximaNova-RegularIt.eot');
    src: url('../fonts/ProximaNova-RegularIt.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ProximaNova-RegularIt.woff') format('woff'),
    url('../fonts/ProximaNova-RegularIt.ttf') format('truetype'),
    url('../fonts/ProximaNova-RegularIt.svg#ProximaNovaIt') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'ProximaNovaLight';
    src: url('../fonts/ProximaNova-Light.eot');
    src: url('../fonts/ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ProximaNova-Light.woff') format('woff'),
    url('../fonts/ProximaNova-Light.ttf') format('truetype'),
    url('../fonts/ProximaNova-Light.svg#ProximaNovaLight') format('svg');
}

@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/ProximaNova-LightIt.eot');
    src: url('../fonts/ProximaNova-LightIt.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ProximaNova-LightIt.woff') format('woff'),
    url('../fonts/ProximaNova-LightIt.ttf') format('truetype'),
    url('../fonts/ProximaNova-LightIt.svg#ProximaNovaLightIt') format('svg');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/ProximaNova-Bold.eot');
    src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ProximaNova-Bold.woff') format('woff'),
    url('../fonts/ProximaNova-Bold.ttf') format('truetype'),
    url('../fonts/ProximaNova-Bold.svg#ProximaNovaBold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/ProximaNova-BoldIt.eot');
    src: url('../fonts/ProximaNova-BoldIt.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ProximaNova-BoldIt.woff') format('woff'),
    url('../fonts/ProximaNova-BoldIt.ttf') format('truetype'),
    url('../fonts/ProximaNova-BoldIt.svg#ProximaNovaBoldIt') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/Ubuntu-Bold.eot');
    src: url('../fonts/Ubuntu-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Ubuntu-Bold.woff') format('woff'),
    url('../fonts/Ubuntu-Bold.ttf') format('truetype'),
    url('../fonts/Ubuntu-Bold.svg#UbuntuBold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/Ubuntu-BoldItalic.eot');
    src: url('../fonts/Ubuntu-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Ubuntu-BoldItalic.woff') format('woff'),
    url('../fonts/Ubuntu-BoldItalic.ttf') format('truetype'),
    url('../fonts/Ubuntu-BoldItalic.svg#UbuntuBoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto Light';
    src: url('../fonts/Roboto-Light.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Light.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'RobotoCondensed';
    src: url('../fonts/RobotoCondensed/RobotoCondensed-Regular.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}