RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule . index.php [L]

<RequireAny>
    # Rnova
    Require expr %{REMOTE_ADDR} == '79.175.47.33'

    # Custom
    Require expr %{REMOTE_ADDR} == '89.175.207.126'
    Require expr %{REMOTE_ADDR} == '79.165.77.227'
</RequireAny>
